@font-face {
  font-family: "Circe-Regular";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Circe-Regular.woff2") format("woff2"),
    url("../fonts/Circe-Regular.woff") format("woff");
}

@font-face {
  font-family: "DINPro";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/DINPro.woff2") format("woff2"),
    url("../fonts/DINPro.woff") format("woff");
}

@font-face {
  font-family: "DINPro-Bold";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/DINPro-Bold.woff2") format("woff2"),
    url("../fonts/DINPro-Bold.woff") format("woff");
}

@font-face {
  font-family: "Gilroy-Light";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Gilroy-Light.woff2") format("woff2"),
    url("../fonts/Gilroy-Light.woff") format("woff");
}

@font-face {
  font-family: "Gilroy-Regular";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2"),
    url("../fonts/Gilroy-Regular.woff") format("woff");
}

@font-face {
  font-family: "Gilroy-Extrabold";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Gilroy-Extrabold.woff2") format("woff2"),
    url("../fonts/Gilroy-Extrabold.woff") format("woff");
}
