.backgroundImage {
  background-repeat: no-repeat;
  background-size: cover;
}

.mainSuptitle {
  display: inline-block;
  font-family: "DINPro";
  font-size: 27px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
