.backgroundImage {
  background-repeat: no-repeat;
  background-size: cover;
}

.mainSuptitle {
  display: inline-block;
  font-family: "DINPro";
  font-size: 27px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.mainTitle {
  font-family: "Gilroy-Regular";
  font-size: 95px;
  line-height: 1;
  letter-spacing: 0.12em;
  color: #242424;
}

.mainTitleBold {
  font-family: "Gilroy-Extrabold";
}

.mainBoxShadow {
  box-shadow: 3px 4px 115px 9px rgba(157, 185, 198, 0.39);
}

body {
  font-family: "DINPro";
}

.modalTop {
  margin-bottom: 25px;
}

.counterParent {
  counter-reset: num;
}

.listItem {
  font-size: 25px;
  counter-increment: num;

  &:not(:last-child) {
    margin-bottom: 16px;
  }

  &::before {
    content: counter(num);
    display: block;
    margin-bottom: 5px;
    font-family: "Gilroy-Extrabold";
    color: #8cc9e8;
  }

  &:nth-child(-n + 9)::before {
    content: "0" counter(num);
  }
}
