body {
  font-family: "DINPro", sans-serif;
  color: #171717;
}

.backgroundImage {
  background-repeat: no-repeat;
  background-size: cover;
}

.mainSuptitle {
  display: inline-block;

  font-family: "DINPro", sans-serif;
  font-size: 27px;
  letter-spacing: 0.06em;
  color: #242424;
  text-transform: uppercase;
}

.mainTitle {
  font-family: "Gilroy-Regular", sans-serif;
  font-size: 95px;
  line-height: 1;
  letter-spacing: 0.12em;
  color: #242424;
}

.mainTitleBold {
  font-family: "Gilroy-Extrabold", sans-serif;
}

.mainTextBold {
  font-family: "DINPro-Bold", sans-serif;
}

.mainBoxShadow {
  box-shadow: 3px 4px 115px 9px rgba(157, 185, 198, 0.39);
}

.modalTop {
  margin-bottom: 25px;
}

.counterParent {
  counter-reset: num;
}

.listItem {
  counter-increment: num;

  font-size: 25px;
  color: #2e2e2e;

  &:not(:last-child) {
    margin-bottom: 16px;
  }

  &::before {
    content: counter(num);
    display: block;
    margin-bottom: 5px;

    font-family: "Gilroy-Extrabold", sans-serif;
    color: #8cc9e8;
  }

  &:nth-child(-n + 9)::before {
    content: "0" counter(num);
  }
}
