.wrapper {
  background-image: url("../../../images/content/home-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  padding: 162px 0 0 67px;
}

.text {
  position: relative;
}

.suptitle {
  display: inline-block;
  margin-bottom: 18px;
  font-family: "DINPro";
  font-size: 27px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.title {
  font-family: "Gilroy-Light";
  font-size: 109px;
  line-height: 1.06;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  .bold {
    font-family: "Gilroy-Extrabold";
  }
}

.btnWrapper {
  position: absolute;
  bottom: 17px;
  right: 109px;
}