.btn {
  font-family: "DINPro";
  font-size: 27px;
  letter-spacing: 0.03em;
  padding: 23px 34px 23px 87px;
  background-color: #ff6a9f;
  border-radius: 40px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 19px;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #171717;
    box-shadow: -1px -1px 2px 2px rgba(#2b4b59, 38%),
      1px 1px 2px 2px rgba(#fff, 55%);
  }
}

.arrow {
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 33px;
    transform: translateY(-50%);
    width: 22px;
    height: 14px;
    background-image: url("../../../images/icons/arrow-right.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
}
